@model evenTons.Models.Product

@{
    ViewData["Title"] = "ExibirProduto";
}

<h2>Exibir Produto</h2>


@Html.LabelFor(m => m.Codigo)
@Html.EditorFor(m => m.Codigo)
<br />

@Html.LabelFor(m => m.Descricao)
@Html.EditorFor(m => m.Descricao)
<br />

@Html.LabelFor(m => m.Preco)
@Html.EditorFor(m => m.Preco)
<br />

@Html.LabelFor(m => m.DataFabricacao)
@Html.EditorFor(m => m.DataFabricacao)
<br />