@model evenTons.Models.Product

@{
    ViewData["Title"] = "IncluirProduto01";
}

<h2>Incluir Produto - Parte 01</h2>

@using (Html.BeginForm())
{ 
    @Html.LabelFor(m => m.Codigo)    
    @Html.EditorFor(m => m.Codigo) <br />

    @Html.LabelFor(m => m.Descricao)
    @Html.EditorFor(m => m.Descricao) <br />

    @Html.LabelFor(m => m.Preco)
    @Html.EditorFor(m => m.Preco) <br />

    @Html.LabelFor(m => m.DataFabricacao)
    @Html.EditorFor(m =>m.DataFabricacao) <br />

    <input type="submit" value=" = "Enviar"/>
}